<h1>Edit Contact</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <label>Fish Name</label>
    <input type="text" name="name" [(ngModel)]="currentProduct.fishName"><br>

    <label>Scientific Name</label>
    <input type="text" name="Scientific Name" [(ngModel)]="currentProduct.scientificName"><br>

    <label>Difficulty to care for</label>
    <input type="text" name="care Level" [(ngModel)]="currentProduct.careLevel"><br>

    <label>Stock Image</label>
    <input type="text" name="image" [(ngModel)]="currentProduct.imageURL"><br>

    <label>Price</label>
    <input type="text" name="price" [(ngModel)]="currentProduct.price"><br>

    <button type="submit">EDIT CONTACT</button>
</form>