.logoPic1 
{
    display: block;
    margin-left: 5%;
    width: 20%;
}
.fullScreen 
{
  height: 100vh;
  margin-left: 1%;
  margin-right: 1%;
}
.productList
{
width: 400px;
height: 400px;
margin-top: 5%;
margin-bottom: 5%;
}

#product-image {
  width: 400px;
  height: 300px;
  margin-left: 20px;
  margin-top: 10px;
}
#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Footer
{
  text-align: center;
  background-color: aqua;
}
.logoPic2 
{
  display: block;
  margin: auto;    
  width: 3%;
}