<mat-toolbar>
    <span>Fogle Farms LLC</span>
    <span class="example-spacer"></span>
    <span><img class="logoPic1" [src]="imageURL1"></span>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" id="Menu">
  <button mat-menu-item routerLink = "/create">Create</button>
  <button (click)="sortProductsLowToHigh()" mat-menu-item>Sort Price Lowest first</button>
  <button (click)="sortProductsHighToLow()" mat-menu-item>Sort Price Highest first</button>
  <button (click)="getProducts()" mat-menu-item>Undo Filter</button>
</mat-menu>

</mat-toolbar>

 <mat-drawer-container>
    <mat-drawer mode="side" opened>
            <a mat-raised-button routerLink = "/home">Home</a><br>
            <a mat-raised-button routerLink = "/about">About</a><br>
            <a mat-raised-button routerLink = "/products">Products</a>
    </mat-drawer>
    <mat-drawer-content id="card-container">
      <mat-card *ngFor="let p of products">
         <mat-card-header>
           <mat-card-title>
             <span>{{p.fishName}} ${{p.price}}</span>
           </mat-card-title>
         </mat-card-header> 
         <mat-card-content>
           <img id="product-image" mat-card-image [src]="p.imageURL" >
      
           <span>
             <a mat-button [routerLink] = '["/products", p.id]'>Details</a>
             <a mat-button [routerLink] = '["/edit", p.id]'>Edit</a>
             <a mat-button (click)="onDelete(p.id)">Delete</a>
            </span>
         </mat-card-content>
         
       </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
<footer class="Footer">2022 Fogle Farms LLC <br> Website created by Austin Fogle
  <span><img class="logoPic2" [src]="imageURL1"></span>
</footer>