.logoPic 
{
    display: block;
    margin-left: 5%;
    width: 20%;
}
.fullScreen 
{
  height: 100vh;
  margin-left: 1%;
  margin-right: 1%;
}
.homeScreenFish
{
  height: 30vh;
  width: 15%;
  margin-top: 15%;
  margin-left: 8%;
  margin-right: 8%;
}
.homeScreenFishName
{
  margin-left: 1%;
  margin-right: 1%;
}